#foreach($hero in $heroes)
  <ul>
    <li>Name: $heroName</li>
    <li>Age: $heroAge</li>
    <li>Special Power: $heroPower</li>
    <li>Weakness: $heroWeakness</li>
    <li>attackPoints: $attackPoints</li>
    <li>defensePoints: $defensePoints</li>
    <li>healthPoints: $healthPoints</li>
  </ul>
#end
